

<div class="camero" >
  <div class="container">
    <header class="d-flex flex-column align-items-center justify-content-center">
    <h1>Boteco Posh!</h1>
        <p>Amazing drinks for amazing people!</p>
    </header>

    <div class="banner-content" style="">
      <div class="banner" style="">
        <div>
          <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-success btn-lg radius:10px" %>
        </div>
      </div>
    </div>

    <div class="container">
      <h3 class="cards-title">Most recent found items...</h3>
      <div class="card-box">
        <div class="row">
          <% @cocktails.each do |cocktail| %>
            <%= link_to cocktail_path(cocktail), class: "nav-link" do %>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="cards">
                <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path(cocktail.photo, crop: :fill) %>)">
          <% end %>
                <div class="card-description">
                  <h3><%= link_to cocktail.name, cocktail_path(cocktail), class: 'card-link' %>
                  </h3>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
