

<div class="background" >
  <div class="container-cocktail">
    <header class="d-flex flex-column align-items-center justify-content-center">
      <h1 class="boteco">Boteco Posh!</h1>
      <p class="boteco1">Amazing drinks for amazing people!</p>
      <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-success btn-lg radius:10px" %>
    </header>
  <h1 class="index-title"></h1>
    <div class="container-fluid my-flexy">
      <div class="card-box-index">
        <% @cocktails.each do |cocktail| %>
          <%= link_to(cocktail_path(cocktail), class: "nav-link") do %>
            <div class="cards-index">
              <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_tag(cocktail.photo) %>)">
                </div>
                <div class="info-cont">
                  <p class="mb0"><%= cocktail.name %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
