<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/rminasi"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/raquelminasi/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/raquelminasi"><i class="fab fa-facebook"></i></a>
    <a href="https://linkedin.com/in/raquelminasi/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website was made with <i class="fas fa-cocktail"></i> by Raquel Minasi
  </div>
</div>




