.container-cocktail {
  justify-content: center;
  align-items:center;
  margin: 10px;
  height: 100%;
  position: relative;
}

.banner {
  text-align: center;
  margin: 20px 0px 40px 0px;

}

.background {
  position: absolute;
  top: 75px;
  // background-attachment: fixed;
  background-image: image-url('neon.jpg');
  background-position: center;
  background-size: 1200px;
  height: 200vh;
  width: 100%;
}
.boteco {
  color: #33dff7;
  padding-top: 30px;
  font-size: 100px;
  font-family: 'Pacifico', cursive;
}

.boteco1 {
  font-size: 30px;
  color: #33dff7;
  padding-top: 20px;
  font-family: 'Dancing Script', cursive;
}

.container-fluid {
  width: 100%;
  position: absolute;
  bottom: 110px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
